.image-gallery-item {
  cursor: pointer;
  min-width: 300px;
  min-height: 160px;
  overflow: hidden;
}
.image-gallery-item img {
  max-width: 300px;
  transition: transform 0.4s ease;
}
.image-gallery-item img:hover {
  transform: scale(1.3);
}
.image-gallery-item .spinner {
  position: relative;
  left: 40%;
  top: 40%;
}
