.logo {
  cursor: pointer;
  position: absolute;
  left: 20px;
  top: 10px;
}
.logo h1 {
  color: #01d277;
}
@media (max-width: 979px) {
}

@media (max-width: 767px) {
  .logo {
    right: 20px;
    left: auto;
  }
  .logo h1 {
    width: 80px;
  }
}

@media (max-width: 480px) {
  .logo {
    right: auto;
    left: 10px;
  }
  .logo h1 {
    width: 60px;
  }
}
