.main-page-wrapper {
  background-color: white;
  padding: 2% 0;
}

.main-page {
  margin: 0 20%;
}
.main-page h1 {
  color: black;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 979px) {
  .main-page {
    margin-bottom: 10%;
  }
}

@media (max-width: 767px) {
  .main-page h1 {
    font-size: 1.5em;
  }
}

@media (max-width: 480px) {
  .main-page h1 {
    font-size: 1em;
  }
}
