.movie-list-list {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  list-style-type: none;
}

.pagination {
  display: flex;
  justify-content: center;
}
.pagination a {
  background-color: #081c24;
  border: 1px solid black;
}
.pagination .counter {
  pointer-events: none;
}
