.person {
  margin-top: 4%;
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.person .image {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}
.person img {
  max-width: 300px;
  min-width: 300px;
}

.person .desc {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

.person .desc h1 {
  color: #ffe066;
  text-shadow: 2px 2px black;
  margin-bottom: 30px;
}
.person .desc p {
  color: white;
  margin-bottom: 2%;
  text-align: start;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
}
@media (max-width: 979px) {
  .person {
    flex-direction: column;
    width: 100%;
  }
  .person .desc {
    max-width: 100%;
    margin: 0 2%;
  }
  .person .desc p {
    font-size: 0.8em;
  }
}

@media (max-width: 767px) {
  .movie .desc p {
    font-size: 0.8em;
  }
}

@media (max-width: 480px) {
  .movie {
    margin: 3%;
    width: 100%;
  }
  .movie .image {
    max-width: 150px;
    min-width: 150px;
  }
  .movie img {
    width: 100%;
  }
  .movie .desc h1 {
    font-size: 1.2em;
  }
}
