.image-gallery-wrapper {
  overflow: hidden;
}
.image-gallery {
  display: flex;
}
.image-gallery-wrapper .arrow {
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.2em;
  position: relative;
}
.image-gallery-wrapper .arrow p {
  transition: ease-in 0.2s;
  color: white;
  margin: 0;
}
.image-gallery-wrapper .arrow :hover {
  color: gray;
}
.next {
  right: 0;
}
