.search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: black;
}

.search input {
  border: 1px solid black;
  border-radius: 5px;
  height: 60%;
  width: 30%;
  font-size: 100%;
  margin-right: 20px;
  text-align: center;
}
.search button {
  height: 80%;
  background: #ffe066;
  border: 1px solid #000000;
  border-radius: 3px;
  padding: 0 10px;
  color: #000000;
  display: inline-block;
  text-align: center;
}
