.search {
  font-size: 1em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: black;
}

.search input {
  border: 1px solid black;
  border-radius: 5px;
  height: 60%;
  width: 30%;
  font-size: 100%;
  margin-right: 20px;
  text-align: center;
}
.search button {
  height: 80%;
  background: #ffe066;
  border: 1px solid #000000;
  border-radius: 3px;
  padding: 0 10px;
  color: #000000;
  display: inline-block;
  text-align: center;
}

.search .logo {
  position: absolute;
  cursor: pointer;
}
.search .logo h1 {
  font-family: "Oswald", sans-serif;
  font-size: 1.75em;
  margin-bottom: 0;
  color: #01d277;
}

@media (max-width: 979px) {
  .search input {
    font-size: 0.7em;
  }
}

@media (max-width: 767px) {
  .search input {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .search .logo h1 {
    font-size: 1.25em;
  }
}
