.movie {
  margin: 4% 0;
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.movie .image {
  max-width: 300px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.movie .desc {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}
.movie .desc svg {
  font-size: 1em;
}
.movie .desc h1 {
  color: #ffe066;
  text-shadow: 2px 2px black;
  margin-bottom: 30px;
}
.movie .desc p {
  color: white;
  margin-bottom: 2%;
}

.movie .overview {
  text-align: start;
}
.movie .score {
  align-items: center;
  display: flex;
}
.movie .score p {
  margin-left: 5px;
}
.movie .score svg {
  margin-bottom: 2%;
}
.movie .genres {
  flex-wrap: wrap;
  display: flex;
}
.movie .genres p {
  margin-right: 5px;
}
.movie .release,
.episodes {
  display: flex;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
}
@media (max-width: 979px) {
}

@media (max-width: 767px) {
  .movie {
    width: 100%;
  }
  .movie .desc p {
    font-size: 0.8em;
  }
}

@media (max-width: 480px) {
  .movie {
    width: 100%;
    margin-top: 30px;
  }
  .movie .image {
    max-width: 150px;
    min-width: 150px;
  }
  .movie img {
    width: 100%;
  }
  .movie .desc h1 {
    font-size: 1.2em;
  }
}
