.main-page-item {
  width: 25%;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid black;
}
.main-page-item .image {
  width: 100%;
  transition: transform 0.4s ease;
}
.main-page-item .image:hover {
  transform: scale(1.1);
}
@media (max-width: 979px) {
  .main-page-item {
    width: 50%;
  }
}

@media (max-width: 767px) {
}

@media (max-width: 480px) {
}
